html,body { 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    width: 100%; 
}

body {
    background-size: 100%;
    background-image: url('http://farm5.staticflickr.com/4114/4760855863_f6973870d8_b.jpg');
}

.page-title {
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    font-size: 5em;
    color: white;
}

.pane {
    padding: 50px 0 50px 0;
    font-family: 'Josefin Slab', serif;
}

.pane h1 {
    text-align: center;
    font-weight: 700;
    padding-bottom: 50px;
}

.pane-1 {
    background-color: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
}

.title-section {
    font-family: 'Josefin Slab', serif;
    color: white;
    font-weight: 700;
    text-align: center;
}
.pane-2 {
    background-color: #3A89C9;
    color: white;
}

.pane-2  h1 {
    color: white;
    font-weight: bold;
}

.pane {
    padding-left: 10px;
    padding-right: 10px;
    color: #E9F2F9;
}

.pane-3 {
    background-color: #1B325F;
    color: white
}

.pane-4 {
    background-color: #F26C4F;
    text-align: center;
}
.col-title {
    text-align: center;
}

#bio-photo {
    box-shadow: 0 0 10px black;
    margin-bottom: 20px;
    
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -kthtml-transition: all .5s ease;
    transition: all .5s ease;
}
#bio-photo:hover {
    box-shadow: 0 0 30px black;
    
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -kthtml-transition: all .5s ease;
    transition: all .5s ease;
}

.navbar-inverse {
    background-color: rgba(0, 0, 0, .3);
    border: none;
}

.social-pane {
    margin-top: 30px;
    text-align: center;
}

.social-button {
    width: 26%;
    margin-bottom: 15px;
    padding: 15px;
    color: white;
    
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -kthtml-transition: all .5s ease;
    transition: all .5s ease;
}

.social-button:hover {
    width: 27%;
    text-decoration: none;
    
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -kthtml-transition: all .5s ease;
    transition: all .5s ease;
}

.twitter:hover {
    color: #4099FF;
    
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -kthtml-transition: all .5s ease;
    transition: all .5s ease;
}

.facebook:hover {
    color: #3B5998;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -kthtml-transition: all .5s ease;
    transition: all .5s ease;
}

.instagram:hover {
    color: #517fa4;
    
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -kthtml-transition: all .5s ease;
    transition: all .5s ease;
}










/*
https://www.flickr.com/photos/stuckincustoms/4760855863/in/photolist-8fGCzM-mTMSfs-dv3BfD-7QKfpo-4wcDXr-7LocU8-dW4Y6D-egW2L2-4Y1THT-6povZR-83ELeX-7FuHmE-7qikKM-4HnpXk-aeJ4GF-4wcCqn-azGKRB-55VijJ-61NNAP-343gzm-7Agvaq-6zcDVS-csdJXo-3Q99Q-4zyy1k-82kyTZ-5xST9f-5tM28s-8rKm41-nquZyT-82qNtT-5eM6mb-5mtGJ9-aeANDi-82jSkY-cGyG2G-DP3gH-rnCT6-6733KS-4Be86-77JMDs-9Bn6HA-cguFJ5-8YheQs-7wP6j4-827f8-4TcT2r-6oCAGz-9nR4js-4RuEkW/

http://www.colourlovers.com/palette/452030/you_will_be_free
*/